<ion-header>
  <ion-navbar>
    <ion-title>
      FilmStrip/ionic
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- Título do SlidesShow -->
  <h1 text-center>Exemplo de carrousel de imagens</h1>
  <!-- Seção múltiple de objetos com quatro informações visíveis a cada secção -->
  <ion-slides pager slidesPerView="3">
  <!-- Seção de objetos -->
  <ion-slide *ngFor="let item of slideImg" >
      <!-- Define componentes horizontais do sistema de grid -->
      <ion-row>
        <!-- Célula do sistema de grid do 'row'. O '*ngFor' cria vários 'ion-col' com imagens -->
        <ion-col>
          <!-- Exibe imagens -->
          <img [src]='item.image'/>

        </ion-col>

      </ion-row>

  </ion-slide>

</ion-slides>

</ion-content>
